<div class="row">
    {{#each users}}
    <div class="card" style="width: 20rem;">
        <img src="{{image_url}}" >
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><strong>Breed:</strong> {{breed}}</p>
            <p class="card-text">Age: {{age}}</p>
            <a href="/profile/{{id}}" class="btn btn-primary">View Profile</a>
        </div>
    </div>
    {{/each}}
</div>