<div>A test of the homepage!
<ul>
    {{#each users}}
    <li>
        <div class="title">
            <a href="#">{{id}}{{name}}</a>
        </div>
        <div class="user-info">
            {{name}} is a {{breed}} who is {{age}} years old.
            {{profile}}
        </div>
    </li>
    {{/each}}
</ul>
</div>