<img src="{{profile.image_url}}" class="profile-image" >
<h1>{{profile.name}}, <span class="age">{{profile.age}}</span></h1>
<div class="breed">{{profile.breed}}</div>
<div class="profile">{{profile.profile}}</div>